node_modules
.expo
.vscode
.DS_Store
android/
ios/
dist/
web-build/
*.jks
*.p12
*.keystore
*.mobileprovision

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
